<!DOCTYPE html>
<html ng-app="maintenance-ang">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">

        <link rel="stylesheet" href="static/lib/bootstrap.min.css" />
        <link rel="stylesheet" href="static/lib/font-awesome.css">
        <script src="static/lib/font-awesome.js"></script>
        <script src="static/lib/jquery-3.3.1.min.js"></script>
        <script src="static/lib/popper.min.js"></script>
        <script src="static/lib/bootstrap.min.js"></script>
        <script src="static/lib/angular.min.js"></script>

        <title>
            GarageData 1.0
        </title>

        <link rel="stylesheet" href="static/stylesheets/index.css" />
        <script src="static/js/index.js"></script>
        <script src="static/js/maintenance-ang.js"></script>
    </head>

    <body ng-controller="CarRecordsController">
        <div class="bg">
            <div id="overlay" class=""></div>
            
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <a class="navbar-brand" href="/">GarageData 1.0</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                    Dropdown
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#">Disabled</a>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0" action="#">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                </nav>

                <div class="container">
                    <div class="row py-3">

                        <div id="indexPage" class="col-md-12">
                            <div class="card shadow mb-5 rounded">
                                <h4 class="card-header display-5">
                                    Maintenance List
                                    <div class="float-right">
                                            <button class="btn btn-success"><i class="fas fa-plus"></i> Add</button>
                                    </div>
                                </h4>
                                
                                <div class="card-body">
                                    <input type="text" id="searchInput" class="" onkeyup="searchFunction()" placeholder="Search ..." title="Type in any detail">
                                    <div class="accordion" id="accordionExample">
                                        <div class="card" ng-repeat="carRecord in carRecords">
                                            <div class="card-header" id="heading{{carRecord._id}}" data-toggle="collapse" data-target="#collapse{{carRecord._id}}" aria-expanded="false" aria-controls="collapse{{carRecord._id}}">
                                                <h6 class="mb-0">
                                                    <span class="dateTitle mr-3" style="display:inline-block;">{{carRecord.date | date : "yyyy-MM-dd"}}</span>
                                                    <span class="carNumberTitle float-right" style="display:inline-block;">{{ carRecord.carNumber }}</span>
                                                </h6>
                                            </div>
                                            <div id="collapse{{carRecord._id}}" class="collapse" aria-labelledby="heading{{carRecord._id}}" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-md-6 mt-1"><b>Number: </b><span class="carNumberBody">{{carRecord.carNumber}}</span></div>
                                                        <div class="col-md-6 mt-1"><b>Date: </b><span class="dateBody">{{carRecord.date | date : "yyyy-MM-dd"}}</span></div>
                                                        <div class="col-md-6 mt-1"><b>Brand: </b><span class="brandNameBody">{{carRecord.brandName.brandName}}</span></div>
                                                        <div class="col-md-6 mt-1"><b>Model: </b><span class="modelBody">{{carRecord.model}}</span></div>
                                                        <div class="col-md-6 mt-1"><b>Year: </b><span class="yearBody">{{carRecord.year}}</span></div>
                                                        <div class="col-md-6 mt-1"><b>Engine: </b><span class="engineBody">{{carRecord.engine}}</span></div>
                                                        <div class="col-md-12 mt-1"><b>Error Codes </b><div class="errorCodesBody col-md-12" ng-repeat="code in carRecord.errorCodes">{{code.code + " - " + code.error}}</div></div>
                                                        <div class="col-md-12 mt-1"><b>Customer complaint </b><div class="complaintBody col-md-12" >{{carRecord.complaint}}</div></div>
                                                        <div class="col-md-12 mt-1"><b>Work </b><div class="workDoneBody col-md-12" >{{carRecord.workDone}}</div></div>
                                                        <span class="col-md-12 mt-1"><b>Cost: </b><span class="costBody">{{carRecord.cost}}</span>₪</span>
                                                        <div class="mt-3 col-md-12">
                                                            <button id="edit-{{carRecord._id}}" class="btn btn-primary"><i class="fas fa-edit"></i> Edit</button>
                                                            <button id="delete-{{carRecord._id}}" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>